<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>
      Detail product
    </ion-title>
    <div class="header_container">
      <div class="back_container" (click)="goBack()">
        <ion-icon style="font-size: 23px;" name="chevron-back-outline"></ion-icon>
      </div>
      <div class="cart_container" (click)="viewCart()">
        <ion-icon style="font-size: 23px;" name="cart-outline"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">

  <div class="product_container" *ngIf="products[0]">
    <div class="product_image_container">
      <img class="product_image" [src]="products[0].picture">
    </div>
    <div class="product_detial_container">
      <div class="product_detail_row">
        <div class="overview-container">
          <p id="brand">{{products[0].brand}}</p>

          <img id="review_star" style="   
            padding-left: 3m;
            width: 20px;
            aspect-ratio: 1/1;" src="../../assets/star.png">
          <p id="rating">{{products[0].rating}}</p>
          <p id="rating_count">({{products[0].ratingCount}})</p>
        </div>
        <ion-icon style="font-size: 6vw;" class="heart-icon" name="heart-outline"></ion-icon>
      </div>
      <h2>{{products[0].name}}</h2>
      <div class="pricing_container">
        <p id="discounted_price">{{products[0].discounted_price}}</p>
        <p id="ori_price"> {{products[0].ori_price}}</p>
      </div>
      <p id="description">
        {{products[0]?.describe}}
      </p>
      <div class="selection_container">
        <div class="color_selection-container">
          <p>
            color
          </p>
          <div class="color-selection">
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="color3"></div>
          </div>
        </div>
        <div class="size_selection-container">
          <p>
            Size
          </p>
          <div class="size-selection">
            <div class="size">xs</div>
            <div class="size">s</div>
            <div class="size">m</div>
          </div>
        </div>
      </div>
      <div class="button_container">
        <ion-button class="button" id="add_to_chart" (click)="addToCart()">
          <ion-icon style="margin-right: 2px;" name="cart-outline"></ion-icon>
          <p class=>add to chart</p>
        </ion-button>
        <ion-button class="button" id="buy_now">buy now</ion-button>
      </div>

    </div>

  </div>
</ion-content>